.hardware-bg {
  background-image: url(https://images.unsplash.com/photo-1597424216809-3ba9864aeb18?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  min-height: 80dvh;
  opacity: .6;
}

.transparent-bg {
  background-color: rgba(0, 0, 0, 0.550);
  background: cover;
}

.hero-row {
  min-height: 80dvh;
}

.bg-hero-form {
  background-size: cover;
  background-color: white;
}

.magic-card {
  position: relative;
  top: 5rem;
}

.extreme-centering {
  margin-top: 4rem;
  margin-right: 2rem;
  margin-bottom: 0rem;
}

.screw-pic {
  margin-top: 1rem;
  max-width: 50dvh;
}

.big-icon {
  font-size: 9rem;
}

.med-icon {
  font-size: 4rem;

}

.small-icon {
  font-size: 2rem;
}

.big-padding {
  padding: 8rem;
}

.center-box {
  margin: -2rem;
}

.map-img {
  height: 45dvh;
  width: 100%;
}

.row-picture {
  max-height: 100dvh;
}

.solway-light {
  font-family: "Solway", serif;
  font-weight: 300;
  font-style: normal;
}

.solway-regular {
  font-family: "Solway", serif;
  font-weight: 400;
  font-style: normal;
}

.solway-medium {
  font-family: "Solway", serif;
  font-weight: 500;
  font-style: normal;
}

.solway-bold {
  font-family: "Solway", serif;
  font-weight: 700;
  font-style: normal;
}

.solway-extrabold {
  font-family: "Solway", serif;
  font-weight: 800;
  font-style: normal;
}



@media screen AND (max-width: 767.98px) {
  .magic-card {
    position: static;
    margin-bottom: 2rem;
  }
}